:root {
  // basic
  --color-white: #fff;
  --color-gray: #dedede;
  --color-black: #000;

  // light
  --color-light-blue-1: #edf7ff;
  --color-light-blue-2: #b5dcfe;

  --color-light-default: rgb(239, 253, 255);
  --color-light-red: #ffdbdb;
  --color-light-yellow: #feffe2;
  --color-light-green: #d7f4e1;
  --color-light-blue: #deefff;
  --color-light-purple: rgb(245, 235, 255);
  --color-light-gray: #eee;

  // red
  --color-pink: rgb(255, 61, 90);
  --color-red: rgb(187, 0, 0);

  // green palette
  // green-num
  --color-green-1: #a0d468;
  --color-green-2: #01b257;
  --color-green-3: #008d42;

  // mint-green-num
  --color-mint-green-1: #a7dbc8;
  --color-mint-green-2: #66c7a7;
  --color-mint-green-3: #47bc97;

  // green-gray-num
  --color-green-gray-1: #739086;
  --color-green-gray-2: #7fb685;

  // gray
  --color-text-gray: #7e7e7e;
}
